body{
    text-align:center;
}
#myCarousel{
    background-color:crimson;


}
#myCarousel img{
    height:300px;
    margin-top:35px;
    
}
.carousel-inner p{
    margin-bottom:15px;
    margin-top:15px;
    color:antiquewhite;
    font-size:20px;
}
.img-responsive{
    height:100px;
    width:500px;
}
.app{
    background-color: beige;
}